@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom breakpoint */

@theme {
  --breakpoint-lxl: 1300px;
  --breakpoint-3xl: 1600px;
}

body {
  font-family: var(--font-montserrat);
}
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
 --color-accent: var(--accent);
 --color-text-dark-primary: var(--text-dark-primary);
}
/* #fcfff2 */
:root {
  --background: #fcfff2;
  --primary: #4a02d5;
  --text-primary: #192335;
  --accent:#71f9a3;
}

.dark {
  --background: #192335;
  --primary: #4a02d5;
  --text-dark-primary: #fcfff2;
  --accent:#71f9a3;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
